.window-wrapper{
	position: relative;
	top:50px;
	left: 50px;
	border:2px solid #FF00FF;
	padding: 20px;
	height: 500px;
	width: 900px;

		-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.simple-window{
	position: absolute;
	width: 300px;
	height: 200px;
	
	box-sizing: border-box;

	top: 50px; left: 100px;

	background-color: #DDD;
	border: 5px solid #AAA;
	border-radius: 5px;
	overflow-y: hidden;

}

.simple-window-header{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	box-sizing: border-box;
	height: 2em;
	background-color: #FFF;
	line-height: 2em;
	padding: 0 10px;
	border-bottom: 1px solid #AAA;
	cursor: move;
}

.simple-window-container{
	height: 100%;
	padding: 3em 1em;
	box-sizing: border-box;
}

.simple-window-content{
	min-height: 100%;
}

.simple-window-footer{
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	box-sizing: border-box;

	height: 2em;
	background-color: #CCC;
	line-height: 2em;
	padding: 0 10px;
	border-top: 1px solid #AAA;
}